.dateElementDiv::-webkit-scrollbar {
    display: none;
  }

.dateElementText {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    background-color: transparent;
}

.dateElementDiv:hover {
    max-height: 500px !important;
    border-top: 2px solid;
    border-bottom: 2px solid;
    background-color: white;
}